<div class="app-container">
  <div class="app-main__inner mx-auto">
    <div class="row justify-content-md-center mx-auto">
      <div class="col-md-6">
        <div class="main-card mb-3 card">
          <div class="card-body">
            <h5 class="card-title">Ingresa un nuevo Pokemon</h5>
            <form class="" action="/api/pokemones/guardar" method="POST">
              <div class="position-relative form-group mb-2">
                <label class="">Nombre</label>
                <input name="title" placeholder="Ingrese el nombre del Pokemon" type="text" class="form-control mt-2"
                  required>
              </div>
              <div class="position-relative form-group">
                <label class="">Caracteristicas</label>
                <input name="desc" placeholder="Poderes, Etimiologia, etc." type="text" step="any" class="form-control mt-2" required>
              </div>
              <div class="position-relative form-group mt-2 ">
                <label for="exampleFile" class="">Imagen</label>
                <input name="thumbnail" type="text" class="form-control mt-2" required>
              </div>
              <button type="submit" class="mt-5 btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
