<main>
  <div class="container py-5">
    <div class="row text-center">
      <div class="col-12">
        <h1 style="font-family: 'Bangers', cursive;
    font-weight: bold;
    font-size: 95px;
    -webkit-text-fill-color: #fdd100;
    -webkit-text-stroke: 3px #1e69b7;">REGISTRO DE POKEMONES</h1>
    {{!--     <p class="lead">Ingrese nuevos Pokemones y visualice el detalle</p> --}}
      </div>
    </div>
  </div>  
</main>